:root {
    --body-color: #E4E9F7;
    --nav-color: #307e7e;
    --side-nav: #010718;
    --text-color: #FFF;
    --text-color-2: rgb(255, 123, 0);
    --text-color-3: rgb(27, 27, 27);
    --text-color-4: rgb(24, 19, 19);
    --search-bar: #F2F2F2;
    --search-text: #010718;
}
.row .col-3{
    height: 1080px;
    background-color:var(--side-nav);
}
.col-3 .row{
    text-align: center;
    color: var(--text-color);
}
.col-3 .row .avatar{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    
}